name: Docker Build Test

on:
  pull_request:
    paths:
      - "**.py"
      - "uv.lock"
      - "pyproject.toml"
      - "Dockerfile"
      - ".python-version"

permissions: read-all

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683

      - name: Log in to Docker Hub
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef
        with:
          registry: dhi.io
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: "Build Docker Image"
        run: |
          docker build .
