name: Ruff Lint Check

on: [pull_request]

permissions: read-all

jobs:
  ruff:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
      - uses: astral-sh/ruff-action@57714a7c8a2e59f32539362ba31877a1957dded1
